@media only screen and (min-width: 35.7em) {
    nav ul {
        flex-direction: row; /* Show items inline on larger screens */
        display: flex; /* Initially show items */
        position: relative;
        margin-top: 5px;
    }

    nav ul li:first-child {
        display: none; /* Hide the toggle button */
    }

    nav ul li {
        display: block; /* Ensure menu items are displayed */
    }
}